body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    direction:initial; 
    position: sticky;
    background-color: #333;
    color: #fff;
    padding: 10px;
    gap: 16px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

nav a li {
    display: flex;
    
}
 
li { 
    display: flex;
}
nav a {
    margin-left: auto;
    gap: 16px;
    text-decoration: none;
    color: #fff;
}

.carousel {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.carousel img {
    width: 100%;
    height: auto;
}

.calendar {
    width: 200px;
    margin: 20px auto;
}

#datepicker {
    width: 100%;
    padding: 10px;
}

.date-button {
    display: block;
    margin: 5px;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.date-button.active {
    background-color: #555;
}

.prev-button,
.next-button {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.prev-button.active,
.next-button.active {
    display: block;
}

.prev-button:hover,
.next-button:hover {
    background-color: #555;
}
