:root {
    --fontTitle: 'Orbitron', sans-serif;
    --fontBody: 'Victor Mono', monospace;
    --fontPixels: 'Press Start 2P', cursive;
    --hoverScale: scale(1.1);
    --transTime3s: .3s;
    --transTime6s: .6s;
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(../img/StarChildBg@2x.png) no-repeat center center fixed; 
    background-size: cover;
    background-color: black;
}

.font-brand {
    font-family: var(--fontTitle);
}

.font-pixels {
    font-family: var(--fontPixels);
}

.font-body {
    font-family: var(--fontBody);
}

.calendar {
    position: relative;
}

#datepicker::-webkit-calendar-picker-indicator {
    background: transparent;
    position: absolute;
    right: 0;
    font-size: xx-large;
    cursor: pointer;
}

#datepickerMobile::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
    position: relative;
    width: 15rem;
    z-index: 2;
    cursor: pointer;
}

.fluxCap {
    position: absolute;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .calendar:hover {
        transform: var(--hoverScale);
        transition: var(--transTime3s);
        cursor: pointer;
    }
    
    #myDatesBtn:hover {
        transform: var(--hoverScale);
        transition: var(--transTime3s);
        cursor: pointer;
    }

    #todaysPic:hover {
        transform: var(--hoverScale);
        transition: var(--transTime3s);
        cursor: pointer;
    }

    .btn:hover {
        transform: var(--hoverScale);
        transition: var(--transTime3s);
    }
}

.trans-3s {
    transition: var(--transTime3s);
}

.trans-6s {
    transition: var(--transTime6s);
}

#carousel {
    height: 0vh;
    transition: var(--transTime6s);
}

.carousel-shown{
    height: 20vh !important;
}

#bookmarkZone {
    height: 20vh;
}

.glow-light:hover {
    box-shadow: 0px 0px 2vh rgb(229 231 235 / 1);
    transition: 1s;
    cursor: pointer;
}

::-webkit-scrollbar { 
    height: .5vh;
}

::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 0.5);
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: rgb(229 231 235 / 0.3);
    border-radius: 3px;
}